.uc-payzen-table tr td {
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    padding: 4px 4px 4px 6px;
}

.uc-payzen-table th {
    font-size: 10px;
}

.uc-payzen-table input[type="text"]{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    padding: 2px 4px;
}
